<div>
    <p>{{ 'profile.thanks_number'|trans }}: {{ number }}</p>

    <p>{{ 'profile.reviews'|trans }}:</p>

    {% for review in reviews %}
        {{ review.helpGetter }}
        {{ review.reviewMessage }} <br>
    {% endfor %}
</div>