<div class="bs-component">
    <div class="modal" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">{{ 'generic.please_login'|trans }}</h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-lg-12" for="inputEmail">{{ 'generic.email'|trans }}</label>
                                <div class="col-lg-12">
                                    <input type="email" name="inputEmail" placeholder="{{ 'generic.label.email'|trans }}" id="inputEmail" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-12" for="inputPassword">{{ 'generic.password'|trans }}</label>
                                <div class="col-lg-12">
                                    <input type="password" name="inputPassword" placeholder="{{ 'generic.label.password'|trans }}" id="inputPassword" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <label id="forgotpass"><a href="#">{{ 'generic.forgot_password'|trans }}</a></label>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">{{ 'generic.close'|trans }}</button>
                        <button class="btn btn-primary" type="button">{{ 'generic.login'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div></div>