<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">{{ 'nav.toggle_nav'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path("home") }}" class="navbar-brand">{{ 'generic.website_name'|trans }}</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'generic.registration'|trans }} <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'generic.profile'|trans }}</a></li>
                <li><a href="{{ path('nfq_assistance_request_form') }}">{{ 'generic.ask_assistance_navbar'|trans }}</a></li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'menu.help'|trans }} <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path('nfq_assistance_request_form') }}">{{ 'generic.ask_assistance_navbar'|trans }}</a></li>
                        <li><a href="{{ path('nfq_assistance_request_list') }}">{{ 'menu.req_list'|trans }}</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            {#}
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <button class="btn btn-default" type="submit">{{ 'generic.submit'|trans }}</button>
            </form>
            {#}
            {% if not app.user %}
            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="modal" data-target="#login"><a href="#">{{ 'generic.login'|trans }}</a></li>
            </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path("fos_user_security_logout") }}">{{ 'generic.logout'|trans }}</a></li>
                </ul>
            {% endif %}

        </div>
    </div>
</nav>


