<style>
    .select2-choices, .form-select{
        width:100%;
        height:35px;
    }

    .select2-search-choice-close:before {
        content: 'x';
        color: #fff;
        font-weight: 300;
        font-family: Arial, sans-serif;
    }

</style>
<div class="col-md-6 col-md-offset-3">

    <div class="well bs-component">
        <legend>Pagalbos prašymo forma</legend>
        <fieldset>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form-horizontal">
                {{ form_widget(form) }}


                <p><a href="" id="create_competence">Create competence</a></p>


                <div id="wrapper">
                    {% for id, tag in tags %}
                    {% set key = tag|keys|join %}
                    {#    <div class="form-group">
                            <div class="col-sm-10">
                            <select disabled id="parent_{{ id }}" class="form-select form-control">
                                <option value="{{ id }}">{{ key }}</option>
                            </select>
                        </div>
                    </div> #}

                    <div class="form-group">
                        <span class="col-sm-2 control-label required">{{ key|title }}</span>
                        <div class="col-sm-10">
                        {% if tag[key]|keys|join is not empty %}
{#                     <select multiple class="form-control form-select" id="child_{{ id }}" >
                           {% for k, v in tag[key] %}
                           <option value="{{ k }}">{{ v }}</option>
                           {% endfor %}
                       </select>    #}
                         <input id="child_{{ id }}" class="form-control form-select" name="optionvalue" type="hidden" data-save="{{ url('nfq_assistance_save_tags') }}" data-current="{{ url('nfq_assistance_selected_tags') }}" data-rem="{{ url('nfq_assistance_remove_tags') }}" data-match="{{ url('nfq_assistance_match_tags') }}" data-parentid="{{ id }}" />
  {% else %}
      <input id="child_{{ id }}" class="form-control form-select" name="optionvalue" type="hidden" data-save="{{ url('nfq_assistance_save_tags') }}" data-current="{{ url('nfq_assistance_selected_tags') }}" data-rem="{{ url('nfq_assistance_remove_tags') }}" data-match="{{ url('nfq_assistance_match_tags') }}" data-parentid="{{ id }}" />
  {% endif %}
  </div>
</div>

{% endfor %}
</div>

<div class="form-group">
<input type="submit" class="" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
</div>
</form>
</fieldset>
</div>

</div>


