<style>
    .select2-choice, .form-select, #s2id_new_competence, .select2-chosen-3 {
        width: 100%;
        height: 35px;
    }

    .select2-search-choice-close:before {
        content: 'x';
        color: #fff;
        font-weight: 300;
        font-family: Arial, sans-serif;
    }
    .alert-dismissible{
        position: fixed;
        height:60px;
        width:100%;
        z-index: 999;
    }
</style>
<div class="col-md-6 col-md-offset-3">

    <div class="well bs-component">
        <legend>Pagalbos prašymo forma</legend>
        <fieldset>
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                  class="fos_user_profile_edit form-horizontal">
                {{ form_widget(form) }}

                <div class="form-group">
                    <span class="col-sm-2 control-label required">{{ 'assistance.field'|trans }}</span>

                    <div class="col-sm-10">
                        {% if (tags.root is defined) and (tags.root is iterable) %}
                            <select id="new_competence"
                                    class="select2-choices"
                                    data-save="{{ url('nfq_assistance_save_tags') }}"
                                    data-current="{{ url('nfq_assistance_selected_tags') }}"
                                    data-rem="{{ url('nfq_assistance_remove_tags') }}"
                                    data-match="{{ url('nfq_assistance_match_tags') }}"
                            >
                                <option value="0">{{ 'assistance.select_parent'|trans }}</option>
                                {% for tag in tags.root %}
                                    <option value="{{ tag.id }}">{{ tag.title }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>


                <div id="wrapper">
                    {% for tag in tags.my %}
                        {% set key = tag.title %}
                        {% set id = tag.id %}

                        <div class="form-group">
                            <span class="col-sm-2 control-label required">{{ key|title }}</span>

                            <div class="col-sm-9">
                                    <input id="child_{{ id }}" class="form-control form-select" name="optionvalue"
                                           type="hidden"
                                           data-save="{{ url('nfq_assistance_save_tags') }}"
                                           data-current="{{ url('nfq_assistance_selected_tags') }}"
                                           data-rem="{{ url('nfq_assistance_remove_tags') }}"
                                           data-match="{{ url('nfq_assistance_match_tags') }}"
                                           data-parentid="{{ id }}"/>

                            </div>
                            <div class="col-sm-1">
                                <a class="rem-cat"
                                   data-id="{{ id }}"
                                   data-text="{{ key }}"
                                   data-rem="{{ url('nfq_assistance_remove_tags') }}"
                                   href="#">{{ 'generic.remove'|trans }}</a>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div class="form-group">
                    <input type="submit" class="" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </form>
        </fieldset>
    </div>

</div>


