<div class="fos_user_user_show">
    <p>{{ 'user.name'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'user.surname'|trans }}: {{ user.lastName }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>
