<div class="col-md-3 col-md-offset-3">

    <div class="well bs-component">

    <legend>{{ 'user.details'|trans }}</legend>
    <div class="fos_user_user_show">
        <p>{{ 'user.name'|trans }}: {{ user.firstName }}</p>
        <p>{{ 'user.surname'|trans }}: {{ user.lastName }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>

    </div>
        <p><a href="{{ path('fos_user_profile_edit') }}">{{ 'user.edit_profile'|trans }}</a></p>
    </div>
</div>

<div class="col-md-3">

    <div class="well bs-component">
        {% set reviewList = get_review_list() %}
        <legend>{{ 'profile.thanks_number'|trans }}: {{ reviewList.number }}</legend>
            <p>{{ 'profile.reviews'|trans }}:</p>
        {{ dump(reviewList) }}
            {% for review in reviewList.reviews %}
                {{ review.helpGetter }}
                {{ review.reviewMessage }} <br>
            {% endfor %}
    </div>
</div>
